body {
    font-size: 13px;
    font-family:  Helvetica, sans-serif;
    line-height: 1.5;
    background-color: #000000;
    color: #ffffff;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20vmin;
    transform: translate(-50%, -50%);
}

div.ball {
    background-color: #ffffff;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;

    top: 0;
    left: 0;
    transform:  translate(-50%, -50%);
}